.App {
  background-color: #e6e6e6;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 30px;
  max-width: 1010px;
  min-height: 95vh;
  background-color: #fff;
}

.pagination {
  text-align: center;
}

:where(.css-18iikkb).ant-pagination .ant-pagination-options {
  display: none;
}

:where(.css-18iikkb).ant-pagination .ant-pagination-options {
  margin-top: 10px;
}
.ant-alert.ant-alert-error.ant-alert-with-description.error-warning.css-dev-only-do-not-override-18iikkb {
  margin-bottom: 20px;
}