.card-space {
  align-items: flex-start;
}

.card-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card-poster {
  display: block;
  box-sizing: border-box;
  height: 280px;
}


.card-title {
  font-size: 18px;
  margin: 0 0 10px;
}

.card-date {
  margin: 10px 0;
}

.genre-list {
  padding: 0;
}

.genre-list div {
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .ant-card-body .card-space {
    display: initial;
  }

  .ant-card-body .card-space .ant-space-item:first-child {
    float: left;
    margin-right: 10px;
  }

  .ant-card-body .card-space .ant-space-item:last-child {
    vertical-align: top;
  }

  .card-img {
    float: left;
  }

  .card-poster {
    height: 140px;
  }

  .card-text {
    display: inline;
  }
}