.card-space {
  align-items: flex-start;
}

.ant-card.ant-card-bordered.movie-card.css-dev-only-do-not-override-18iikkb .ant-card-body {
  padding: 0;
}

.ant-space.css-dev-only-do-not-override-18iikkb.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small.card-space .ant-space-item:last-child {
  padding: 10px;
}

.ant-space.css-dev-only-do-not-override-18iikkb.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small.card-space {
  display: flex;
}

.card-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card-poster {
  display: block;
  box-sizing: border-box;
  height: 280px;
}


.card-title {
  font-size: 18px;
  margin: 0 0 10px;
  padding-right: 40px;
}

.card-date {
  margin: 10px 0;
}

.card-text div{
  position: relative;
}

.ant-progress.ant-progress-circle {
  position: absolute;
  top: 0;
  right: 0;
}

.ant-progress-circle:where(.css-dev-only-do-not-override-18iikkb).ant-progress-status-success .ant-progress-text {
  font-size: 14px;
  color: black;
}

@media (max-width: 600px) {
  .ant-card-body .card-space {
    display: initial;
  }

  .ant-space.css-dev-only-do-not-override-18iikkb.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small.card-space {
    display: initial;
  }

  .ant-card-body .card-space .ant-space-item:first-child {
    float: left;
    margin: 10px;
  }

  .ant-card-body .card-space .ant-space-item:last-child {
    vertical-align: top;
  }

  .card-img {
    float: left;
  }

  .card-poster {
    height: 140px;
  }

  .card-text {
    display: inline;
  }
}